
        <div class="footer">
            <div class="grid wide footer__content">
                <div class="row">
                    <div class="col l-3 m-6 c-12">
                        <h3 class="footer__heading">Chăm sóc khách hàng</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="/loader.html" class="footer-item__link">Giới thiệu</a>
                            </li>
                            <li class="footer-item">
                                <a href="/loader.html" class="footer-item__link">Trung tâm trợ giúp</a>
                            </li>
                            <li class="footer-item">
                                <a href="/loader.html" class="footer-item__link">Hướng dẫn tải</a>
                            </li>
                            <li class="footer-item">
                                <a href="/loader.html" class="footer-item__link">Điều khoản</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col l-3 m-6 c-12">
                        <h3 class="footer__heading">Về TreeHouse</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <p class="footer__text">TreeHouse cung cấp link tốc độ cao Google Drive mới nhất hoàn
                                    toàn miễn phí!
                                </p>
                            </li>
                            <li class="footer-item footer-item__mail">
                                <i class="footer-item__icon far fa-envelope"></i>
                                <p class="footer__text">treehouseofficialwebsite@gmail.com</p>
                            </li>
                            <li class="footer-item">
                                <a href="//www.dmca.com/Protection/Status.aspx?ID=0422547b-eabf-402c-b59d-ab62fa96c899"
                                    title="DMCA.com Protection Status" class="dmca-badge"> <img
                                        src="https://images.dmca.com/Badges/dmca_protected_sml_120m.png?ID=0422547b-eabf-402c-b59d-ab62fa96c899"
                                        alt="DMCA.com Protection Status" /></a>
                                <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>
                            </li>
                        </ul>
                    </div>
                    <div class="col l-3 m-6 c-12">
                        <h3 class="footer__heading">Danh mục</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="/loader.html" class="footer-item__link">Trang chủ</a>
                            </li>
                            <li class="footer-item">
                                <a href="/loader.html" class="footer-item__link">Office 365</a>
                            </li>
                            <li class="footer-item">
                                <a href="/loader.html" class="footer-item__link">Operating System</a>
                            </li>
                            <li class="footer-item">
                                <a href="/loader.html" class="footer-item__link">For Windows</a>
                            </li>
                            <li class="footer-item">
                                <a href="/loader.html" class="footer-item__link">Donate</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col l-3 m-6 c-12">
                        <h3 class="footer__heading">Kết nối với TreeHouse</h3>
                        <div class="footer__plugin-pc">
                            <div class="footer__embed-fb hide-on-mobile">
                                <iframe
                                    src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ftreehouseweb.gq%2F&tabs&width=340&height=214&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
                                    width="340" height="214" style="border:none;overflow:hidden" scrolling="no"
                                    frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                            </div>
                        </div>
                        <div class="footer__plugin-mobile">
                            <iframe
                                src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ftreehouseweb.gq%2F&tabs&width=300px&height=214&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=319795116003743"
                                width="300px" height="214" style="border:none;overflow:hidden" scrolling="no"
                                frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__end">
                <div class="grid wide">
                    <p class="footer__text">Copyright &copy; 2019 - 2020 <a href="/"
                            class="footer__text-link">TreeHouse</a>
                    </p>
                </div>
            </div>
        </div>