<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TreeHouse - Free Download Website</title>
    <!-- Custom Styles -->
    <link rel="stylesheet" type="text/css" href="/css/base.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/responsive.css">
    <!-- My Library -->
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/grid.css">

    {{!-- Fonts --}}
    <link rel="stylesheet" href="/fonts/fontawesome/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;900&display=swap"
        rel="stylesheet">
</head>
<body>
    <div class="app">
        {{> header}}

        {{{body}}}
        
        {{!-- {{> footer}}

        {{> Modal}} --}}
    </div>

    {{!-- {{> Facebook}}

    {{> ChatPlugin}} --}}

    <script src="/js/index.js"></script>
    <script src="/js/main.js"></script>

</body>
</html>